dist: xenial
sudo: required

language: python
python:
  - "3.7"
install:
  - pip install pipenv
  - pipenv install --dev --system
script:
  - coverage run -m unittest discover tests
  - flake8
  - pylint aiocometd_chat_demo
  - mypy --strict aiocometd_chat_demo
